<nav class="flex justify-between items-center shadow-sm">
	<img src="{{asset('image/logo.png')}}" alt="logo" class="w-auto h-24">
	<ul class="pr-5 flex items-center gap-5 text-lg font-medium">
		<li class="flex gap-6">
			<a href="{{ path('app_disponibilities_index')}}">Disponibilités</a>
			<a href="{{ path('app_vehicles_index')}}">Véhicules</a>
		</li>
	</ul>
</nav>
